body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    position: relative;
    display: inline-block;

}
.menu-down{
    position: absolute;
    display: none;
}
.menu:hover .menu-down{
    display: block;
} 


.column a{
    font-size: large;
    display: block;
    margin-bottom: 10px;  
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 23%;
    padding: 10px;
}
@media screen and (max-width:992px) {
    .column{
        width: 45%;
        padding: 10px;
    }
}
@media screen and (max-width:600px) {
    .column{
        width: 100%;
        
    }
}